<div class="container">
  <h1>What Cohort Should You Be In?</h1>
  

  <h2>Which Yankee Are You?</h2>
  <form action="/" method="post">
  <div class="option">
      <img src="images/derek_jeter.jpg" alt=""><br>
      <input type="radio" name="yankee" value="1">
  </div>
  <div class="option">
      <img src="images/bernie.jpg" alt="bernie"><br>
      <input type="radio" name="yankee" value="2">
  </div>
  <div class="option">
      <img src="images/paulie.jpg" alt=""><br>
      <input type="radio" name="yankee" value="3">
  </div>
  <div class="option">
      <img src="images/ruth.jpg" alt=""><br>
      <input type="radio" name="yankee" value="4">
  </div>
  <div class="option">
      <img src="images/david_ortiz.gif" alt=""><br>
      <input type="radio" name="yankee" value="5">
  </div>
  <div class="option">
      <img src="images/aroid.jpg" alt=""><br>
      <input type="radio" name="yankee" value="6">
  </div>

  <h2>Which Sex and The City Character Are You?</h2>
  <div class="option">
      <img src="images/miranda.jpg" alt=""><br>
      <input type="radio" name="sexcity" value="1">
  </div>
  <div class="option">
      <img src="images/derek_jeter.jpg" alt=""><br>
      <input type="radio" name="sexcity" value="2">
  </div>
  <div class="option">
      <img src="images/carrie.jpg" alt=""><br>
      <input type="radio" name="sexcity" value="3">
  </div>
  <div class="option">
      <img src="images/harry.jpg" alt=""><br>
      <input type="radio" name="sexcity" value="4">
  </div>
  <div class="option">
      <img src="images/brunette.jpg" alt=""><br>
      <input type="radio" name="sexcity" value="5">
  </div>
  <div class="option">
      <img src="images/big.jpg" alt=""><br>
      <input type="radio" name="sexcity" value="6">
  </div>

  <h2>Which Muppet Are You?</h2>
  <div class="option">
      <img src="images/muppet1.jpg" alt=""><br>
      <input type="radio" name="muppet" value="1">
  </div>
  <div class="option">
      <img src="images/kermit.jpg" alt=""><br>
      <input type="radio" name="muppet" value="2">
  </div>
  <div class="option">
      <img src="images/count.jpg" alt=""><br>
      <input type="radio" name="muppet" value="3">
  </div>
  <div class="option">
      <img src="images/grinch.jpeg" alt=""><br>
      <input type="radio" name="muppet" value="4">
  </div>
  <div class="option">
      <img src="images/derek_jeter.jpg" alt=""><br>
      <input type="radio" name="muppet" value="5">
  </div>
  <div class="option">
      <img src="images/miss_piggy.jpg" alt=""><br>
      <input type="radio" name="muppet" value="6">
  </div>

  <h2>Pick Your Favorite Movie</h2>
  <div class="option">
      <img src="images/tron.jpg" alt=""><br>
      <input type="radio" name="rainy" value="1">
  </div>
  <div class="option">
      <img src="images/starwars.jpg" alt=""><br>
      <input type="radio" name="rainy" value="2">
  </div>
  <div class="option">
      <img src="images/harrysally.jpg" alt=""><br>
      <input type="radio" name="rainy" value="3">
  </div>
  <div class="option">
      <img src="images/wargames.jpg" alt=""><br>
      <input type="radio" name="rainy" value="4">
  </div>
  <div class="option">
      <img src="images/matrix_logo.gif" alt=""><br>
      <input type="radio" name="rainy" value="5">
  </div>
  <div class="option">
      <img src="images/inception.jpg" alt=""><br>
      <input type="radio" name="rainy" value="6">
  </div>

  <h2>Pick Your Favorite Programming Language</h2>
  <div class="option">
      <img src="images/java.png" alt=""><br>
      <input type="radio" name="algorithm" value="1">
  </div>
  <div class="option">
      <img src="images/ruby.png" alt=""><br>
      <input type="radio" name="algorithm" value="2">
  </div>
  <div class="option">
      <img src="images/js.jpg" alt=""><br>
      <input type="radio" name="algorithm" value="3">
  </div>
  <div class="option">
      <img src="images/python.png" alt=""><br>
      <input type="radio" name="algorithm" value="4">
  </div>
  <div class="option">
      <img src="images/haskell.png" alt=""><br>
      <input type="radio" name="algorithm" value="5">
  </div>
  <div class="option">
      <img src="images/clojure.jpg" alt=""><br>
      <input type="radio" name="algorithm" value="6">
  </div>
  <br>
  <br>
  <input type="submit">
  </form>
  <div id="answer">
    <img src="">
      <div id="answer-text">
        <h2></h2>
        <p>
          
        </p>
      </div>
  </div>
</div>
